/* Bootstrap fixes */
body {
  font-family: 'Nunito', sans-serif;
}

.container.my-5 h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.container.my-5 h3::after {
  border-top: 2px solid #215ea4;
  content: "";
  display: block;
  width: 50%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.container.my-5 h3.h3_fix {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  font-size: 1.60rem;
}

.container.my-5 h3.h3_fix::after {
  border-top: none;
  margin-top: 0;
}

.container.my-5.concert h1 {
  margin-bottom: 2rem;
}

.order-ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(52, 58, 64, 0.4);
  padding: 20px;
  margin: 0 5%;
  border-radius: 10px;
}

.order-ticket .price {
  position: relative;
}

.order-ticket .price .sold-out {
  position: absolute;
  color: #dc3545;
  top: 50%;
  left: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  width: 100%;
  height: 100%;
}

.order-ticket .disabled {
  pointer-events: none;
}

.order-ticket.vip {
  -webkit-box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.order-ticket.vip h4, .order-ticket.vip .price {
  color: #d3a13b;
  font-weight: 600;
}

.order-ticket .price {
  margin: 0;
}

.order-ticket .ticket_quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 15px;
  margin: 15px 0;
  width: 100%;
  border-top: 1px solid rgba(52, 58, 64, 0.4);
  border-bottom: 1px solid rgba(52, 58, 64, 0.4);
}

.order-ticket .btn-group .qty, .order-ticket .btn-group .qty-vip {
  text-align: center;
  border: none;
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
}

.order-ticket .btn-group .qty::-webkit-outer-spin-button, .order-ticket .btn-group .qty::-webkit-inner-spin-button, .order-ticket .btn-group .qty[type=number], .order-ticket .btn-group .qty-vip::-webkit-outer-spin-button, .order-ticket .btn-group .qty-vip::-webkit-inner-spin-button, .order-ticket .btn-group .qty-vip[type=number] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.total-price th {
  font-size: 18px;
}

.total-price th:last-child {
  font-weight: 800;
}

.table th, .table td {
  vertical-align: middle;
}

.card.disabled {
  opacity: 0.5;
}

.card .card-header {
  background-color: #dc3545;
  color: #fff;
}

.card .card-img-top {
  border-radius: 0;
}

.card h4, .card h5 {
  margin: 0;
}

.card .card-body.concert_datetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #dc3545;
}

.card .card-body.concert_datetime h5 {
  font-weight: 600;
}

.card .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card .list-group .list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .list-group .list-group-item .price {
  font-size: 18px;
  font-weight: 600;
  /*color: #225FA4;*/
}

.card .list-group .list-group-item.vip .price {
  color: #d3a13b;
}

.card .admin_concert-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.navbar-nav .nav-link.cart {
  font-size: 28px !important;
  padding: 0 10px;
  position: relative;
}

.navbar-nav .nav-link.cart i {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.navbar-nav .nav-link.cart .items-cart {
  font-size: 14px;
  background-color: #c82333;
  font-weight: 400;
  padding: 1px 7px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 35px;
}

.navbar-nav .nav-link.active {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.navbar-nav .nav-link.active .items-cart {
  background-color: #dc3545;
}

.nav-pills .nav-link.active {
  background-color: #17a2b8;
}

a {
  color: #17a2b8;
}

a:hover {
  color: #0fb9d6;
}

.btn-primary {
  background-color: #225FA4;
  border-color: #225FA4;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:not(.disabled):active, .btn-primary.disabled, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #224b79;
  border-color: #224b79;
}

.media img {
  max-width: 130px;
}

.media .media-body .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
}

.media .media-body .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* HEADER */
.top-bar {
  padding: 5px;
}

.top-bar .top-bar_items span {
  font-size: 16px;
}

.navbar {
  -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
}

.navbar .navbar-brand {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  /*text-transform: uppercase;*/
  font-size: 24px;
  color: #dfdfe0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-brand img {
  width: 60px;
  opacity: 0.9;
}

.navbar .navbar-brand:hover img {
  opacity: 1;
}

.navbar .navbar-brand .logo-name {
  line-height: 1;
  margin-left: 10px;
}

.navbar .navbar-nav {
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  font-size: 17px;
}

/* Admin Panel */
@media screen and (max-width: 768px) {
  .table_overflow {
    overflow-x: scroll;
    margin-right: -15px;
    margin-left: -15px;
  }
}

/* MAIN */
.red {
  color: #ff0018;
}

/* Concert */
.concert_image img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */