/* Bootstrap fixes */
body {
  font-family: 'Nunito', sans-serif;
}

.container.my-5 h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.container.my-5 h3::after {
  border-top: 2px solid #215ea4;
  content: "";
  display: block;
  width: 50%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.table th, .table td {
  vertical-align: middle;
}

.card.disabled {
  opacity: 0.5;
}

.card .card-header {
  background-color: #dc3545;
  color: #fff;
}

.card .card-img-top {
  border-radius: 0;
}

.card h4, .card h5 {
  margin: 0;
}

.card .card-body.concert_datetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #dc3545;
}

.card .card-body.concert_datetime h5 {
  font-weight: 600;
}

.card .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card .list-group .list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .list-group .list-group-item .price {
  font-size: 18px;
  font-weight: 600;
  /*color: #225FA4;*/
}

.card .list-group .list-group-item.vip .price {
  color: #d3a13b;
}

.card .admin_concert-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.navbar-nav .nav-link.active {
  text-shadow: 1px 1px 5px #000;
}

.nav-pills .nav-link.active {
  background-color: #17a2b8;
}

a {
  color: #17a2b8;
}

a:hover {
  color: #0fb9d6;
}

.btn-primary {
  background-color: #225FA4;
  border-color: #225FA4;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:not(.disabled):active, .btn-primary.disabled {
  background-color: #224b79;
  border-color: #224b79;
}

.media img {
  max-width: 130px;
}

.media .media-body .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
}

.media .media-body .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* HEADER */
.top-bar {
  padding: 5px;
}

.top-bar .top-bar_items span {
  font-size: 16px;
}

.navbar {
  -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
}

.navbar .navbar-brand {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  /*text-transform: uppercase;*/
  font-size: 24px;
  color: #dfdfe0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-brand img {
  width: 60px;
  opacity: 0.9;
}

.navbar .navbar-brand:hover img {
  opacity: 1;
}

.navbar .navbar-brand .logo-name {
  line-height: 1;
  margin-left: 10px;
}

.navbar .navbar-nav {
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  font-size: 17px;
}

/* Admin Panel */
@media screen and (max-width: 768px) {
  .table_overflow {
    overflow-x: scroll;
    margin-right: -15px;
    margin-left: -15px;
  }
}

/* MAIN */
.red {
  color: #ff0018;
}

/* Concert */
.concert_image img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */